body
{
background-color:#d7e3db;;
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
font-family: sans-serif;
font-size: 12px;
}


A:link { color: #4169e1; text-decoration: none;}
A:visited { color: #4169e1; text-decoration: none; }
A:hover { color: #ff0000; background:#cccccc}
A:active { color: #4169e1; text-/Decoration: none;}


H1, H2, H3, H4, H5, H6 { 
	color: #10105b;
	font-weight: bold;
	font-size: 14px;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

P { 
	color: black;
	font-size: 12px;
	padding-left: 1em;
}

.minor-title
{
	color: #10105b;
	font-weight: bold;
	font-size: 17px;
}

.major-title
{
	color: #10105b;
	font-weight: bold;
	font-size: 24px;
}

.main-title
{
	color: #483d8b;
	font-weight: bold;
	font-size: 36px;
}

.nav-title, .button-title
{
	color: white;
	font-weight: bold;
	font-size: 12px;
	font-family: Optima, Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: middle;
}

.nav-title:hover, .button-title:hover
{
	color: white;
	font-weight: bold;
	font-size: 12px;
	font-family: Optima, Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: middle;
}

.nav-title-disabled, .button-title-disabled
{
	color: #9f9f9f;
	font-weight: bold;
	font-size: 12px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: middle;
}

TABLE.grey-box {background-color: #d7e3db; }
.grey-box TH { background-color: #cccccc; }
TABLE.blue-box { background-color: #f6f4d5; }
.blue-box TH { background-color: #9090d0; }
TABLE.red-box { background-color: #CC6699; }
.red-box TH { background-color: #BB5588; }
TABLE.white-box { background-color: #ffffff; }
.white-box TH { background-color: #cccccc; }

.box-title
{
	color: white;
	text-align: left;
	padding-left: 1em;
	font-weight: bold;
	font-size: 14px;
}

.box-body
{
	color: black;
	padding-left: 3em;
	font-size: 12px;
}

/* Lists don't need the indented margins: */
.box-body OL { padding-left: 1em; }
.box-body UL { padding-left: 1em; }
.box-body DL { padding-left: 1em; }

.grey-box .box-subtitle
{
	border-top: thin solid #cccccc;
	color: #10105b;
	padding-left: 2em;
	font-weight: bold;
	font-size: 12px;
}

.blue-box .box-subtitle
{
	border-top: thin solid #9090d0;
	color: #10105b;
	padding-left: 2em;
	font-weight: bold;
	font-size: 12px;
}

.red-box .box-subtitle
{
	border-top: thin solid #BB5588;
	color: #10105b;
	padding-left: 2em;
	font-weight: bold;
	font-size: 12px;
}

.white-box .box-subtitle
{
	border-top: thin solid #cccccc;
	color: #10105b;
	padding-left: 2em;
	font-weight: bold;
	font-size: 12px;
}

.box-info
{
	color: #717171;
	padding-left: 3em;
	font-weight: bold;
	font-size: 12px;
}

.box-info-right
{
	color: #717171;
	text-align: right;
	font-weight: bold;
	font-size: 12px;
}

.box-info-flush
{
	color: #717171;
	text-align: left;
	font-weight: bold;
	font-size: 12px;
}

.box-extra
{
	color: #000000;
	padding-left: 5em;
	font-size: 10px;
}

.box-extra-right
{
	color: #000000;
	text-align: right;
	font-size: 10px;
}

.box-extra-flush
{
	color: #000000;
	text-align: left;
	font-size: 10px;
}

.grey-box .button TD.button-left
{
	background-image: url(grey/ButtonLeft.gif);
	background-repeat: no-repeat;
	width: 10px;
	height: 20px;
}

.grey-box .button TD.button-right
{
	background-image: url(grey/ButtonRight.gif);
	background-repeat: no-repeat;
	width: 10px;
	height: 20px;
}

.grey-box .button TD.button-fill
{
	background-image: url(grey/ButtonFill.gif);
	background-repeat: repeat-x;
	height: 20px;
}

.grey-box .button:hover TD.button-left
{
	background-image: url(grey/ButtonLeftSelected.gif);
	background-repeat: no-repeat;
	width: 10px;
	height: 20px;
}

.grey-box .button:hover TD.button-right
{
	background-image: url(grey/ButtonRightSelected.gif);
	background-repeat: no-repeat;
	width: 10px;
	height: 20px;
}

.grey-box .button:hover TD.button-fill
{
	background-image: url(grey/ButtonFillSelected.gif);
	background-repeat: repeat-x;
	height: 20px;
}

.grey-box .button-disabled TD.button-left
{
	background-image: url(grey/ButtonLeftDisabled.gif);
	background-repeat: no-repeat;
	width: 10px;
	height: 20px;
}

.grey-box .button-disabled TD.button-right
{
	background-image: url(grey/ButtonRightDisabled.gif);
	background-repeat: no-repeat;
	width: 10px;
	height: 20px;
}

.grey-box .button-disabled TD.button-fill
{
	background-image: url(grey/ButtonFillDisabled.gif);
	background-repeat: repeat-x;
	height: 20px;
}

.grey-box TD.box-top-left
{
	background-image: url(grey/TopLeft.gif);
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
}

.grey-box TD.box-top-right
{
	background-image: url(grey/TopRight.gif);
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
}

.grey-box TD.box-top
{
	background-image: url(grey/Top.gif);
	background-repeat: repeat-x;
	height: 10px;
	width: 10px;
}

.grey-box TD.box-left
{
	background-image: url(grey/Left.gif);
	background-repeat: repeat-y;
	width: 10px;
	height: 10px;
}

.grey-box TD.box-left-divider
{
	background-image: url(grey/LeftDivider.gif);
	background-repeat: repeat-y;
	height: 9px;
	width: 20px;
}

.grey-box TD.box-right
{
	background-image: url(grey/Right.gif);
	background-repeat: repeat-y;
	width: 10px;
	height: 10px;
}

.grey-box TD.box-right-divider
{
	background-image: url(grey/RightDivider.gif);
	background-repeat: repeat-y;
	height: 9px;
	width: 20px;
}

.grey-box TD.box-bottom-left
{
	background-image: url(grey/BottomLeft.gif);
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
}

.grey-box TD.box-bottom-right
{
	background-image: url(grey/BottomRight.gif);
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
}

.grey-box TD.box-bottom
{
	background-image: url(grey/Bottom.gif);
	background-repeat: repeat-x;
	height: 20px;
}

.grey-box TD.box-divider
{
	background-image: url(grey/Divider.gif);
	background-repeat: repeat-x;
	height: 9px;
}

.blue-box .button TD.button-left
{
	background-image: url(ButtonLeft.gif);
	background-repeat: no-repeat;
	width: 10px;
	height: 20px;
}

.blue-box .button TD.button-right
{
	background-image: url(ButtonRight.gif);
	background-repeat: no-repeat;
	width: 10px;
	height: 20px;
}

.blue-box .button TD.button-fill
{
	background-image: url(ButtonFill.gif);
	background-repeat: repeat-x;
	height: 20px;
}

.blue-box .button:hover TD.button-left
{
	background-image: url(ButtonLeftSelected.gif);
	background-repeat: no-repeat;
	width: 10px;
	height: 20px;
}

.blue-box .button:hover TD.button-right
{
	background-image: url(ButtonRightSelected.gif);
	background-repeat: no-repeat;
	width: 10px;
	height: 20px;
}

.blue-box .button:hover TD.button-fill
{
	background-image: url(ButtonFillSelected.gif);
	background-repeat: repeat-x;
	height: 20px;
}

.blue-box .button-disabled TD.button-left
{
	background-image: url(ButtonLeftDisabled.gif);
	background-repeat: no-repeat;
	width: 10px;
	height: 20px;
}

.blue-box .button-disabled TD.button-right
{
	background-image: url(ButtonRightDisabled.gif);
	background-repeat: no-repeat;
	width: 10px;
	height: 20px;
}

.blue-box .button-disabled TD.button-fill
{
	background-image: url(ButtonFillDisabled.gif);
	background-repeat: repeat-x;
	height: 20px;
}

.blue-box TD.box-top-left
{
	background-image: url(pink/TopLeft.gif);
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
}

.blue-box TD.box-top-right
{
	background-image: url(pink/TopRight.gif);
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
}

.blue-box TD.box-top
{
	background-image: url(pink/Top.gif);
	background-repeat: repeat-x;
	height: 10px;
}

.blue-box TD.box-left
{
	background-image: url(pink/Left.gif);
	background-repeat: repeat-y;
	width: 10px;
}

.blue-box TD.box-left-divider
{
	background-image: url(pink/LeftDivider.gif);
	background-repeat: repeat-y;
	height: 9px;
	width: 20px;
}

.blue-box TD.box-right
{
	background-image: url(pink/Right.gif);
	background-repeat: repeat-y;
	width: 10px;
}

.blue-box TD.box-right-divider
{
	background-image: url(pink/RightDivider.gif);
	background-repeat: repeat-y;
	height: 9px;
	width: 20px;
}

.blue-box TD.box-bottom-left
{
	background-image: url(pink/BottomLeft.gif);
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
}

.blue-box TD.box-bottom-right
{
	background-image: url(pink/BottomRight.gif);
	background-repeat: no-repeat;
	width: 10px;
	height: 10px;
}

.blue-box TD.box-bottom
{
	background-image: url(pink/Bottom.gif);
	background-repeat: repeat-x;
	height: 10px;
}

.blue-box TD.box-divider
{
	background-image: url(pink/Divider.gif);
	background-repeat: repeat-x;
	height: 9px;
}

.red-box TD.box-top-left
{
	background-image: url(/Decoration/Grey/RedBox/TopLeft.gif);
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.red-box TD.box-top-right
{
	background-image: url(/Decoration/Grey/RedBox/TopRight.gif);
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.red-box TD.box-top
{
	background-image: url(/Decoration/Grey/RedBox/Top.gif);
	background-repeat: repeat-x;
	height: 20px;
}

.red-box TD.box-left
{
	background-image: url(/Decoration/Grey/RedBox/Left.gif);
	background-repeat: repeat-y;
	width: 20px;
}

.red-box TD.box-left-divider
{
	background-image: url(/Decoration/Grey/RedBox/LeftDivider.gif);
	background-repeat: repeat-y;
	height: 9px;
	width: 20px;
}

.red-box TD.box-right
{
	background-image: url(/Decoration/Grey/RedBox/Right.gif);
	background-repeat: repeat-y;
	width: 20px;
}

.red-box TD.box-right-divider
{
	background-image: url(/Decoration/Grey/RedBox/RightDivider.gif);
	background-repeat: repeat-y;
	height: 9px;
	width: 20px;
}

.red-box TD.box-bottom-left
{
	background-image: url(/Decoration/Grey/RedBox/BottomLeft.gif);
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.red-box TD.box-bottom-right
{
	background-image: url(/Decoration/Grey/RedBox/BottomRight.gif);
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.red-box TD.box-bottom
{
	background-image: url(Bottom.gif);
	background-repeat: repeat-x;
	height: 20px;
}

.red-box TD.box-divider
{
	background-image: url(/Decoration/Grey/RedBox/Divider.gif);
	background-repeat: repeat-x;
	height: 9px;
}

.white-box .button TD.button-left
{
	background-image: url(/Decoration/Grey/WhiteBox/ButtonLeft.gif);
	background-repeat: no-repeat;
	width: 10px;
	height: 20px;
}

.white-box .button TD.button-right
{
	background-image: url(/Decoration/Grey/WhiteBox/ButtonRight.gif);
	background-repeat: no-repeat;
	width: 10px;
	height: 20px;
}

.white-box .button TD.button-fill
{
	background-image: url(/Decoration/Grey/WhiteBox/ButtonFill.gif);
	background-repeat: repeat-x;
	height: 20px;
}

.white-box .button:hover TD.button-left
{
	background-image: url(/Decoration/Grey/WhiteBox/ButtonLeftSelected.gif);
	background-repeat: no-repeat;
	width: 10px;
	height: 20px;
}

.white-box .button:hover TD.button-right
{
	background-image: url(/Decoration/Grey/WhiteBox/ButtonRightSelected.gif);
	background-repeat: no-repeat;
	width: 10px;
	height: 20px;
}

.white-box .button:hover TD.button-fill
{
	background-image: url(/Decoration/Grey/WhiteBox/ButtonFillSelected.gif);
	background-repeat: repeat-x;
	height: 20px;
}

.white-box .button-disabled TD.button-left
{
	background-image: url(/Decoration/Grey/WhiteBox/ButtonLeftDisabled.gif);
	background-repeat: no-repeat;
	width: 10px;
	height: 20px;
}

.white-box .button-disabled TD.button-right
{
	background-image: url(/Decoration/Grey/WhiteBox/ButtonRightDisabled.gif);
	background-repeat: no-repeat;
	width: 10px;
	height: 20px;
}

.white-box .button-disabled TD.button-fill
{
	background-image: url(/Decoration/Grey/WhiteBox/ButtonFillDisabled.gif);
	background-repeat: repeat-x;
	height: 20px;
}

.white-box TD.box-top-left
{
	background-image: url(/Decoration/Grey/WhiteBox/TopLeft.gif);
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.white-box TD.box-top-right
{
	background-image: url(/Decoration/Grey/WhiteBox/TopRight.gif);
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.white-box TD.box-top
{
	background-image: url(/Decoration/Grey/WhiteBox/Top.gif);
	background-repeat: repeat-x;
	height: 20px;
}

.white-box TD.box-left
{
	background-image: url(/Decoration/Grey/WhiteBox/Left.gif);
	background-repeat: repeat-y;
	width: 20px;
}

.white-box TD.box-left-divider
{
	background-image: url(/Decoration/Grey/WhiteBox/LeftDivider.gif);
	background-repeat: repeat-y;
	height: 9px;
	width: 20px;
}

.white-box TD.box-right
{
	background-image: url(/Decoration/Grey/WhiteBox/Right.gif);
	background-repeat: repeat-y;
	width: 20px;
}

.white-box TD.box-right-divider
{
	background-image: url(/Decoration/Grey/WhiteBox/RightDivider.gif);
	background-repeat: repeat-y;
	height: 9px;
	width: 20px;
}

.white-box TD.box-bottom-left
{
	background-image: url(/Decoration/Grey/WhiteBox/BottomLeft.gif);
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.white-box TD.box-bottom-right
{
	background-image: url(/Decoration/Grey/WhiteBox/BottomRight.gif);
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.white-box TD.box-bottom
{
	background-image: url(Bottom.gif);
	background-repeat: repeat-x;
	height: 20px;
}

.white-box TD.box-divider
{
	background-image: url(/Decoration/Grey/WhiteBox/Divider.gif);
	background-repeat: repeat-x;
	height: 9px;
}
